<IfModule mod_rewrite.c>

    <IfModule mod_headers.c>
        # Asegurar el tipo MIME correcto para archivos JavaScript
        <FilesMatch "\.(js)$">
            Header set Content-Type "application/javascript"
        </FilesMatch>
    </IfModule>

    DirectoryIndex index.html index.php

    RewriteEngine On

    # Manejar encabezados de autorización y seguridad
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirigir si hay una barra al final, pero no es un directorio
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # *** Asegurar que Laravel maneje sus rutas ***
    RewriteCond %{REQUEST_URI} ^/(api|login|register|password|user|dashboard|admin|profile|logout|sanctum|storage|forgot-password|livewire|reset-password)/.*$ [OR]
    RewriteCond %{REQUEST_URI} ^/(login|register|password|user|dashboard|admin|profile|logout|sanctum|storage|forgot-password|two-factor-challenge|up)$
    RewriteRule ^ index.php [L]

    # *** Servir archivos estáticos de Angular si existen ***
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # *** Si no es API ni ruta de Laravel, enviar a Angular ***
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /index.html [L]

</IfModule>
